.App {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  border: 2px solid white;
  border-radius: 5px;
  width: 90vw;
  height: 90vh;
  padding: 10px;
  color: white;
}

.title {
  font-size: 46px;
  text-align: center;
  position: relative;
  bottom: 2vh;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.ButtonCreate {
  position: absolute;
  right: 5%;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.room-row {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  align-items: center;
  padding: 12px 10px;
  border-bottom: 1px solid white; /* underline */
}

/* remove line under last room (optional but polished) */
.room-row:last-child {
  border-bottom: none;
}

.room-row button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.room-row button:hover {
  background-color: white;
  color: black;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: black;
  border: 2px solid white;
  border-radius: 6px;
  padding: 20px;
  width: 300px;
  color: white;
}

.modal h3 {
  margin-bottom: 15px;
  text-align: center;
}

.modal input {
  width: 100%;
  padding: 8px;
  background: transparent;
  border: 1px solid white;
  color: white;
  margin-bottom: 15px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  cursor: pointer;
}

.modal-actions button:hover {
  background: white;
  color: black;
}


/* Phones (up to ~480px) */
@media (max-width: 480px) {
  .title {
    font-size: 28px;        /* smaller title */
    bottom: 20px;
    margin-bottom: 5%;
  }

  .ButtonCreate {
    font-size: 14px;
    padding: 8px 14px;
    right: 0px;            /* closer to edge */
    align-self: center;
    transform: scale(0.8);
  }

  .content {
    width: 90vw;
    height: 90vh;
    padding: 8px;
  }
}
